/* 						CSS PLAN 

		Général
		Animations
		Transitions
		Hide and show gesture
		Feedback from mails
		Navigation Bar
			Burger Menu
		Timelines
		Home page
		Case Titles
			Events Case
			Products case
			Team case
			History case
		Old products grid ---IN COMMENTS---
		Footer
		Responsive Media queries
			Width
			Height
			Height & Width



*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

/* Général */
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: #e9ecef;
	height: 100vh;
	cursor: default;
}

#alerte {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 50vh;
    box-sizing: border-box;
    z-index: 9999;
  }

  /* Media query pour détecter le mode paysage sur mobile */
  @media screen and (max-height: 530px) and (orientation: landscape) {
    #alerte {
      display: block;
    }
	body{
		overflow: hidden;
	}
  }

header {
	width: 100%;
	height: 12vh;
	position: fixed;
	z-index: 10;
	top: 0;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background: #d8f3dc;
	border-radius: 10px;
}

/* Animations */

@keyframes wave
{
	0%
	{
		transform: translateY(0px);
	}
	20%
	{
		transform: translateY(-10px);
	}
	40%, 100%
	{
		transform: translateY(0px);
	}
}

@keyframes bounce {
	0% {
		bottom: 0;
	}

	50% {
		bottom: 20px;
	}

	100% {
		bottom: 0;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}

	to {
		opacity: 0;
		transform: translateX(-100%);
	}
}

/* Transitions */
	/* Transition div between home & events case*/
.spaceafterhome{
	width: 100%;
	height: 39.5vh;
}
	/* Blue wave transition below products */
#svg-end-products{
	width: 100%;
	position: absolute;
	top:439.5vh;
}

/* Hide and show gesture (works with script.js) */
	/* Hide form questions and team (before apparition) */
.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 2s;
}

	/* show form questions and team (apparition) */
.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

/* Feedback from mails */
.press{
	position: absolute;
	top: 175vh;

	width: 100%;
	height: 30vh;
}

.press-container{
	position: relative;

	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

	background-color: #007bff;
}

/* navigation bar */
.nav-bar {
	width: 100%;
	height: 100%;
	
	background: rgba(158, 185, 236, 0.5); 
	backdrop-filter: blur(10px);

	display: flex;
	flex-direction:row;
	align-items: center;

	justify-content: space-between;
	padding-left: 1vw ;
	padding-right: 1vw ;
}

.navbar-nav {
	width: 35%;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

li a {
	color: black;
	text-decoration: none;
	font-family: "Unbounded", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
}

li a:hover {
	color: #d8f3dc;
	transition: 0.5s;
}

.startup-name{
	font-family: "Unbounded", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 2rem;
}

#nav-logo{
	width: 7vh;
	height: 7vh;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);

}

#svg_1{
	width: 100%;
	position: absolute;
	top: 12vh;
	transition: opacity 0.7s;
}

#to-history,
#to-products,
#to-team,
#to-contact {
	cursor: pointer;
}

	/* Burger Menu */
.burger-menu {
	display: none;
}

.burger-line {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #1b4332;
	margin: 5px 0;
}

/* Timelines */
	/* Time Line 1 */
.timeline1{
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 10%;
	top: 92vh;
	align-items: center;
	z-index: 5;
}

#cercle {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
	border: 4px solid #262626;
}

#line{
	height: 40vh;
	width: 1px;
	border: 2px solid #262626;
}

#line-event{
	height: 67.5vh;
	width: 1px;
	border: 2px solid #262626;
}

	/* Timeline 2 */

.timeline2{
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 10%;
	top: 137vh;
	align-items: center;
	z-index: 5;
}

#line-first-event{
	height: 85vh;
	width: 1px;
	border: 2px solid #262626;
}

/* Home Page */
.home-screen {
	width: 100%;
	height: 88vh;

	opacity: 1;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
	margin-top: 12vh;
}

.case-big-tree {
	width: auto;
	height: 50vh;

	#image {
		height: 100vh;
		border-radius: 50%;
		transform: translateY(-23%) rotateZ(5deg);
	}
}

.text-welcome {
	font-family: "Unbounded", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: #262626;
	text-decoration: none;

	#pre-title{
		font-size: 2vw;
		font-weight: 400;
		color: #c3d3ed;
	}

	#title {
		font-size: 7vw;
		font-weight: 800;
	}

	#subtitle {
		font-size: 1vw;
	}
}

.wavy-button{
	position: absolute;
	bottom: 2vh;
	align-items: center;
	border-radius: 8px;
	box-shadow: -5px -5px 10px 0 #c3d3ed,10px 10px 30px 0 #1d0dca17;
	background-color: #c3d3ed;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	font-family: "Unbounded", sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 15px;
	text-align: left;
	transition: .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: pre;
	width: max-content;
	word-break: normal;
	word-spacing: normal;
}

.wavy-button span{
	position: relative;
	display: inline-block;
	color: #262626;
	font-size: 1.5rem;
	/* text-transform: uppercase; */
	animation: wave 1s ease-in-out infinite;
	animation-delay: calc(0.03s * var(--i));
}

/* Case Titles */
.history-title,
.products-title,
.team-title {
	width: 100%;
	height: 15vh;
}

#products-title {
	font-size: 6vw;
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #b7e4c7;
}

#team-title {
	font-size: 7vw;
	font-weight: 800;
	text-align: center;
	margin-top: 12vh;
}

#history-title {
	font-size: 6vw;
	font-family: 'Pacifico', cursive;
	text-align: center;

	background-image: url('./img/wood_back.jpg');
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* Events case */
.seasons{
	position: absolute;
	top: 115vh;
	right: 20vw;
	
	width: 60vw;
	height: fit-content;
	background: #c3d3ed; 
	border-radius: 10px;
	border: 2px solid #e9ecef;

	padding-top: 2vh;
	padding-bottom: 2vh;
}

.seasons-container{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center ;
}

.season{
	position: relative;
	width: 30%;
	height: 87%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	img{
		width: 90%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
	}

	h1{
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-family: "Unbounded", sans-serif;
		font-style: normal;
		color: #262626;
		text-decoration: none;
		font-size: 1.7vw;
		font-weight: 400;
	}

	p{
		width: fit-content;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-family: "Unbounded", sans-serif;
		font-style: normal;
		color: #262626;
		text-decoration: none;
		font-size: 1vw;
		font-weight: 200;

		border-radius: 10px;
		padding: 1%;
		border: 2px solid #e9ecef;
	}
}

/* Products case */
.products {
	background-color: #c3d3ed;
	width: 100%;
	height: 300vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.products-container{
	position: relative;
	margin-top: 75vh;
	margin-right: auto;
	margin-left: auto;
	width: 70vw;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	div{
		height: 30%;
		width: 90%;
	}
}

.event{
	/* Big titles Noël, Halloween, St Valentin */
	h1{
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-family: "Unbounded", sans-serif;
		font-style: normal;
		color: #262626;
		text-decoration: none;
		font-size: 5.5vw;
		font-weight: 700;
	}
}

/* Team case */
.team{
	height: 205vh;
	width: 100%;
	font-family: "Unbounded", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: #262626;
	text-decoration: none;
}

.team-grid {
	display: flex;
	width: 80%;
	flex-direction: column;
	height: 150vh;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;

	.leonie,
	.antonin,
	.raphael {
		margin-left: 5vw;
		margin-right: 5vw;
	}

	section {
		display: flex;
		place-items: left;
		align-content: center;
		flex-direction: row;
		background:rgba(158, 185, 236, 0.2);
		border-radius: 20px;
		height: 140%;
	}

	h1 {
		font-size: 3vh;
		text-align: center;
	}

	p {
		text-align: justify;
		font-size: 1vw;
	}

	h3 {
		font-size: 1.5vw;
	}

	img {
		height: 20vh;
	}

	.profil {
		margin-top: auto;
		margin-bottom: auto;
	}

	.description-team {
		margin-left: 2vw;
		margin-right: 2vw;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}

/* History case */
.history {
	width: auto;
	height: 100vh;
	background-color: #b7e4c7;
}

.history-text {
	width: 100vw;
	height: 75vh;
	text-align: justify;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: auto;

	p {
		/* height: 50%; */
		flex-wrap: wrap;
		font-size: 2.2vw;
		font-family: 'Pacifico', cursive;
		color: #2d6a4f;

		margin-bottom: auto;
		margin-top: auto;
		margin-left: 2vw;
		margin-right: 2vw;
	}
}

/* Old products grid */
/* .grid {
	width: 100%;
	height: 70vh;

	display: flex;
	justify-content: space-evenly;
	margin-top: auto;
	margin-bottom: auto;
}

.card {
	width: auto;
	height: 100%;
	border-radius: 30px;

	background-image: url("./img/back\ product.png");
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.img_product {
		width: 20vw;
		height: 80%;
		transition-duration: 1s;
		cursor: pointer;
	}

	.img_product:hover {
		transform: scale(1.1);
		transition-duration: 1s;
	}

	.embed-container {
		display: flex;

		.embed {
			transform: translateY(-5vh);
			margin-left: auto;
			margin-right: auto;

			button {
				color: #3c7459;
			}
		}
	}

	.popup .sketchfab-embed-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 80%;
	}

	.popup iframe {
		border-radius: 20px;
		width: 100%;
		height: 100%;
	}

	.popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9999;
	}

	.popup .sketchfab-embed-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.popup .close {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 30px;
		color: #fff;
		cursor: pointer;
	}


	#in-creation {
		filter: grayscale(100%);
	}

	.logo_product {
		position: absolute;
		top: 1vh;
		right: 1vh;
		height: 10vh;
		border-radius: 50%;
	}

	p {
		font-size: 3vw;
		font-family: 'Pacifico', cursive;
		text-align: center;

		background-image: url('./img/wood_back.jpg');
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;

		transform: translateY(-5vh);
	}
} */

/* Footer */
.footer {
	position: relative;
	width: 100%;
	background: transparent;
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
	color: #B7E4C7;
}

.social-icon,
.menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
	list-style: none;
}

.social-icon__link {
	font-size: 2rem;
	color: #B7E4C7;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}

.social-icon__link:hover {
	transform: translateY(-10px);
}

.menu__link {
	font-size: 1.2rem;
	color: #B7E4C7;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
}

.menu__link:hover {
	opacity: 1;
}

.footer p {
	color: #B7E4C7;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
}

.social {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;

	div {
		text-align: center;
		width: 33vw;
	}
}

.social-team {
	text-align: center;
}

/* Responsive Media queries */
/* Width */
@media screen and (max-width: 1024px) {
	.home-screen {
		flex-direction: column;

		#logo {
			width: 35vw;
			height: 35vw;
			aspect-ratio: initial;
		}

		.case-big-tree {
			height: fit-content;
		}

		#title {
			margin-top: -10vh;
			font-size: 13vw;
			text-align: center;
		}

		#subtitle {
			font-size: 5vw;
			text-align: center;
		}


	}
}

@media screen and (max-width: 940px) {
	.burger-menu {
		display: block;
		position: absolute;
		right: 4vw;
		top: 4vh;
	}

	.navbar-nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		top: 12vh;
		right: -100%;
		width: 100%;
		height: calc(100% - 12vh);
		transition: all 0.3s ease;
		background-image: url("./img/wood_back.jpg");
		z-index: 999;
	}

	ul li a {
		font-size: 7vw;
	}

	.navbar-nav.active {
		right: 0;
	}

	.home-screen {
		flex-direction: column;

		#logo {
			width: 45vw;
			height: 45vw;
			aspect-ratio: initial;
		}

		.case-big-tree {
			height: fit-content;
		}

		#title {
			margin-top: -10vh;
			font-size: 15vw;
			text-align: center;
		}

		#subtitle {
			font-size: 5vw;
			text-align: center;
		}
	}

	#products-title,
	#team-title,
	#history-title {
		font-size: 15vw;
	}

	.grid {
		flex-direction: column;
		justify-content: space-around;
		margin: 0;
		height: 100%;
	}

	.products {
		height: 120vh;
	}

	.card {
		width: 75%;
		height: 30vh;
		margin-left: auto;
		margin-right: auto;

		.img_product {
			height: 30vh;
			width: 20vh;
		}

		p {
			font-size: 6vw;
			position: absolute;
			right: 1%;
			top: 50%;
			transform: translateY(50%);
		}
	}

	.history-text {
		justify-content: space-evenly;
		height: 85%;


		p {
			height: 50%;
			margin-left: 4vw;
			margin-right: 4vw;
			font-size: 4.5vw;
		}

	}

	.prefeedback-button{
		width: fit-content;
		font-size: 2vw;
		height: 10vh;
		padding: 5px;
	}
}

@media screen and (max-width: 730px) {
	.home-screen #logo {
		width: 75vw;
		height: 75vw;
	}

	.team {
		height: max-content;
	}

	.team-grid {
		margin-top: 0;
		text-align: center;
		height: fit-content;

		.leonie,
		.antonin,
		.raphael {
			margin-top: 1vh;
			margin-bottom: 1vh;
			margin-left: auto;
			margin-right: auto;

			width: 95vw;
			height: 120vw;
		}

		.antonin .hidden {
			flex-direction: column-reverse;
		}

		.hidden {
			flex-direction: column;
			height: 100%;
			justify-content: space-around;


			.profil {
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;

				img {
					width: 35vw;
					height: 35vw;
				}
			}

			.description-team {
				height: 100%;

				p {
					font-size: 3vw;
				}

				h3 {
					font-size: 4vw;
				}
			}
		}
	}

	.down-arrow-to-history {
		margin-top: 2vh;
	}

	.social {
		height: fit-content;

		div {
			display: flex;
			flex-direction: column;
			width: 33vw;
			justify-content: space-between;
		}
	}
}

/* Height */
@media screen and (max-height: 730px) {
	.home-screen {
		#logo {
			width: 30vw;
			height: 30vw;
		}

		.case-big-tree {
			height: fit-content;
		}

		#title {
			font-size: 7vw;
			text-align: center;
		}

		#subtitle {
			font-size: 3vw;
			text-align: center;
		}
	}
}

@media screen and (max-height: 580px) {
	.home-screen {
		#logo {
			width: 25vw;
			height: 25vw;
		}

		.case-big-tree {
			height: fit-content;
		}

		#title {
			font-size: 7vw;
			text-align: center;
		}

		#subtitle {
			font-size: 3vw;
			text-align: center;
		}
	}
}

/* Height & Width */
@media screen and (max-height: 830px) and (max-width: 500px) {
	.home-screen {
		.case-big-tree {
			height: fit-content;
		}

		#title {
			font-size: 7vw;
			text-align: center;
		}

		#subtitle {
			font-size: 3vw;
			text-align: center;
		}
	}

	.navbar-nav a {
		font-size: 5vh;
	}
}

/* Forms */

	/* Général Form */

	/* Christmas Form */

	/* Halloween Form */

	/* Valentine's Form */

#welcomePage, #welcomePageChristmas {
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 50%;
	align-items: center;
	justify-content: center;
}

.feedback-form, .feedback-christmas-form {
	width: 100%;
	height: 100%;
	top: 150%;
	position: absolute;
	z-index: 999;
}

.container {
	overflow-x: hidden;
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;

	border-radius: 20px;
	justify-content: space-evenly;
	background-color: #3c7459;

	.close {
		position: absolute;
		top: 10%;
		right: 10.7%;
		font-size: 30px;
		color: #fff;
		cursor: pointer;
	}

	h1 {
		color: #ceebd3;
		font-size: 5vw;
	}
}

#formPageFeedback, #formPageChristmasFeedback {
	width: 100vw;
}

#feedbackForm, #feedbackChristmasForm {
	width: 100%;

	.question {
		height: 50%;
		align-items: center;
	}
}

.page {
	display: flex;
}

.hidden {
	display: none;
}

.question {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	font-size: 2.5vw;
	color: #ceebd3;
}

input[type="text"],
input[type="email"],
select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.navigation {
	margin-bottom: 10vh;
	margin-left: 10vw;
	margin-right: 10vw;
	width: auto;
	justify-content: space-around;
	display: flex;
}

.navigation button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #aaa9a9;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.navigation button:not(:last-child) {
	margin-left: auto;
	margin-left: auto;
}

.question {
	margin-left: 10vw;
	margin-right: 10vw;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

.slide-in {
	animation-name: slideIn;
}

.slide-out {
	animation-name: slideOut;
}

.feedback-button, .feedback-christmas-button, .feedback-halloween-button, .feedback-valentines-button {
	align-items: center;
	border: 0;
	border-radius: 8px;
	box-sizing: border-box;
	color: #2a1f62;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	justify-content: center;
	padding: 1vh;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	transform: translateY(-5vh);
	text-align: left;
	transition: .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;

	box-shadow: -5px -5px 10px 0 #c3d3ed,10px 10px 30px 0 #1d0dca17;
	background-color: #c3d3ed;
	font-family: "Unbounded", sans-serif;
	width: max-content;
}

.feedback-button:hover, .feedback-christmas-button:hover, .feedback-halloween-button:hover, .feedback-valentines-button:hover {
	background: #d8f3dc;
	box-shadow: -15px -15px 30px 0 #d8f3dc, 15px 15px 30px 0 #1d0dca17;
}

#feedback-form, #feedback-christmas-form {
	display: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#feedback-form.visible, #feedback-christmas-form.visible {
	transition: opacity 1s ease-in-out;
	opacity: 1;
}


#submitButtonFeedback,
#submitButtonChristmas,
#continueButton,
#continueButtonChristmas,
#startButton,
#startButtonChristmas,
#previousButton,
#previousButtonChristmas {
	align-items: center;
	background: #4f9a76; 
	border: 0;
	border-radius: 8px;
	box-shadow: -10px -10px 30px 0 #3c7459, 10px 10px 30px 0 #1d0dca17; /* Ombre du bouton */
	box-sizing: border-box;
	color: #d8f3dc;
	cursor: pointer;
	font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1rem;
	justify-content: center;
	line-height: 1.5rem;
	padding: 15px;
	position: relative;
	text-align: left;
	transition: .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: pre;
	/* width: max-content; */
	word-break: normal;
	word-spacing: normal;
}

#submitButtonFeedback:hover,
#submitButtonChristmas:hover,
#continueButton:hover,
#continueButtonChristmas:hover,
#previousButton:hover,
#previousButtonChristmas:hover,
#startButton:hover,
#startButtonChristmas:hover{
	background: #3c7459; 
	box-shadow: -10px -10px 30px 0 #4f9a76, 15px 15px 30px 0 #29523f;
	transition-duration: 0.4s
}
